<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto Invest App</title>
    <link rel="stylesheet" href="/static/css/bulma.css"><!-- esta linea enlaza a la carpeta static/css para que el navegador muestre los resultados con estilos y no solo un json-->
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/spa_crypto.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> <!-- Esta linea sirve para que el navegador enlace al archivo spa.js que es donde se va a crear el template que va a mostrar la pagina-->
    
</head>

  
<body>

    <nav class="navbar is-warning">
        <div class="navbar-brand">
            <div class="navbar-start">
                <a class="navbar-item">
                    <img src="/static/png/fuego_logo1.png" alt="site logo" style="max-height: 350px" class="py-2 px-2">
                    <!--<div class="content is-centered is-size-5-widescreen is-family-sans-serif has-text-primary">
                        <h1>Buy</h1>
                        <h1>Swap your Crypto</h1>
                        <h1>Hold</h1>
                    </div>-->
                </a>
                
            </div>
        </div>
    </nav>
    
    <section class="section" id="principal"> 
            <div class="container">
                <div class="columns">
                    <div class="column is-7.5">
                        <h3 class="box title is-3">Registro de movimientos</h3>
                            <div class="table-container" style="width:850px; height:500px; overflow: scroll">
                                <table class="table is-primary" name="tabla-movimientos" id="tabla-movimientos">
                                    <thead class="has-backgorund-info">
                                        <tr is-selected>
                                            <th>fecha</th>
                                            <th>hora</th>
                                            <th>moneda_from</th>
                                            <th>cantidad_inicial</th>
                                            <th>moneda_to</th>
                                            <th>cantidad_resultante</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody> 
                                </table>
                            </div>
                    </div>
                
                    <div class="column is-4">
                    <form class="box" name="form-status" id="form-status">
                        <h3 class="title is-3">Estado de la inversión</h3>
                        <label class="label is-size-5 mb-4">Euros invertidos:</label>
                        <input class="input is-normal" type="number" name="total_invertido" id="total_invertido" readonly>
                        <label class="label is-size-5 mb-4" style="margin-top: 15px">Valor actual de la inversión (€):</label>
                        <input class="input is-normal" type="number" name="valor_actual" id="valor_actual" readonly>
                        <label class="label is-size-5 mb-4" style="margin-top: 15px">Beneficio obtenido (€):</label>
                        <input class="input is-normal" type="number" name="beneficio_obtenido" id="beneficio_obtenido" readonly>   
                        
                    
                        <div>
                            <button class="button is-success is-hovered is-focused" style="margin-top: 30px" id="actualizar" >Actualizar</button><br/>
                        </div>
                    
                    </form>
                     
                    <br/>
                        <div class="container">
                            <div class="row"> 
                            <h3 class=" title is-3">Saldos actuales</h3>
                            <div class="table-container" style="width:400px; height:200px; overflow: scroll">
                                <table class="table is-primary" name="tabla-saldos" id="tabla-saldos">
                                    <thead class="has-backgorund-info">
                                        <tr is-selected>
                                            <th font-weight="bold">moneda</th>
                                            <th align="center">saldo</th>
                                            <th align="right">valor en €</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody> 
                                </table>
                            </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section> 

    <section class="section" id="secundaria"> 
    <div class="detail-movimiento container">
        <h3 class="title is-3">Compra y convierte tus criptomonedas</h3>
        <form class="box has-background-warning-light" name="form" id="form">
            <div class="row">
                <input type="hidden" id="idMovimiento">
                <input type="hidden" id="cantidad_inicial_oculta">
                <input type="hidden" id="moneda_to_oculta">
                <input type="hidden" id="moneda_from_oculta">

            </div>
            
            <div class="row">
                
                <div class="columns">
                    <div class="column is-4">
                            <label class="label" for="moneda_from">De</label>
                            <div class="select is-normal">
                                <select name="moneda_from" id="moneda_from">
                                    <option value="EUR">Euro(EUR)</option>
                                    <option value="BNB">Binance Coin(BNB)</option>
                                    <option value="BTC">Bitcoin(BTC)</option>
                                    <option value="BCH">Bitcoin Cash(BCH)</option>
                                    <option value="BSV">Bitcoin SV(BSV)</option>
                                    <option value="ADA">Cardano(ADA)</option>
                                    <option value="LINK">Chainlink(LINK)</option>
                                    <option value="EGLD">Elrond(EGLD)</option>
                                    <option value="ETH">Ethereum(ETH)</option>
                                    <option value="EOS">Eos(EOS)</option>
                                    <option value="LTC">Litecoin(LTC)</option>
                                    <option value="ORN">Orion Protocol(ORN)</option>
                                    <option value="DOT">Polkadot(DOT)</option>
                                    <option value="MATIC">Polygon(MATIC)</option>
                                    <option value="XRP">Ripple(XRP)</option>
                                    <option value="SOL">Solana(SOL)</option>
                                    <option value="XOR">Sora(XOR)</option>
                                    <option value="XLM">Stellar(XLM)</option>
                                    <option value="USDT">Tether(USDT)</option>
                                    <option value="TRX">Tron(TRX)</option>
                                </select>
                            </div>  
                            <label class="label" for="cantidad_inicial" style="margin-top: 15px">Cantidad inicial</label>
                            <input class="input is-normal" type="number" name="cantidad_inicial" id="cantidad_inicial" placeholder="0" step="any"> 
                        
                   
                    </div>
                
                    <div class="column is-4">
                        <label class="label" for="moneda_to">A</label>
                        <div class="select is-normal">
                            <select name="moneda_to" id="moneda_to">
                                <option value="EUR">Euro(EUR)</option>
                                <option value="BNB">Binance Coin(BNB)</option>
                                <option value="BTC">Bitcoin(BTC)</option>
                                <option value="BCH">Bitcoin Cash(BCH)</option>
                                <option value="BSV">Bitcoin SV(BSV)</option>
                                <option value="ADA">Cardano(ADA)</option>
                                <option value="LINK">Chainlink(LINK)</option>
                                <option value="EGLD">Elrond(EGLD)</option>
                                <option value="ETH">Ethereum(ETH)</option>
                                <option value="EOS">Eos(EOS)</option>
                                <option value="LTC">Litecoin(LTC)</option>
                                <option value="ORN">Orion Protocol(ORN)</option>
                                <option value="DOT">Polkadot(DOT)</option>
                                <option value="MATIC">Polygon(MATIC)</option>
                                <option value="XRP">Ripple(XRP)</option>
                                <option value="SOL">Solana(SOL)</option>
                                <option value="XOR">Sora(XOR)</option>
                                <option value="XLM">Stellar(XLM)</option>
                                <option value="USDT">Tether(USDT)</option>
                                <option value="TRX">Tron(TRX)</option>
                            </select>
                        </div>
                        <label class="label" for="cantidad_resultante" style="margin-top: 15px">Cantidad resultante</label>
                        <input class="input is-normal" type="number" name="cantidad_resultante" id="cantidad_resultante" readonly>
                    </div> 
                    
                </div>
            </div>     
                    
                
            <div class="row">
                <div class="column"></div>
                    <div class="control">
                    <button class="button is-info is-hovered is-focused pr-4" style="margin-right: 556px"id="convertir">Convertir</button>
                    
                    <button class="button is-pulled-center is-success is-hovered is-focused" name="comprar" id="comprar" type="submit">Comprar</button>
                      
                    <button class="button is-pulled-center is-danger is-hovered is-focused" id="cancelar" type="reset">Cancelar</button>
                    </div>   
                    </div>   
                </div>  
            </div>
        </form> 
    </div>
    <br/>
    <footer>Original creation. Open source. &copy 2021</footer>
</body>
</html>

