select#moneda_from option[value="BTC"]   { background-image:url(https://cryptologos.cc/logos/bitcoin-btc-logo.png?v=013);   }

.table tbody tr:hover { 
    background-color: hsl(48, 100%, 96%);
}

.table thead {
    background-color: hsl(206, 70%, 96%)
}       

#tabla-saldos tbody tr:hover { 
    background-color: hsl(48, 100%, 96%);
}